<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_healthy">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Healthy.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            android:theme="@style/Theme.App_Healthy.NoActionBar"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstFragment"
            android:exported="true"/>
        <activity
            android:name=".SecondFragment"
            android:exported="true"/>
        <activity
            android:name=".ThirdFragment"
            android:exported="true"/>
        <activity
            android:name=".FourthFragment"
            android:exported="true"/>
        <activity
            android:name=".FifthFragment"
            android:exported="true"/>
        <activity
            android:name=".SixthFragment"
            android:exported="true"/>
        <activity
            android:name=".SeventhFragment"
            android:exported="true"/>
        <activity
            android:name=".EighthFragment"
            android:exported="true"/>
        <activity
            android:name=".NinethFragment"
            android:exported="true"/>
    </application>
</manifest>